<div class="nav-collapse">
  <ul class="nav pull-right">
    <li class="dropdown">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon icon-user"></i> 
        <span><%= raw t('rs_toolbar.account_info.greeting', :username => rs_toolbar_username) %></span>
        <b class="caret"></b>
      </a>
      
      <ul class="dropdown-menu">
        <li><a href="javascript:;">My Profile</a></li>
        <li class="divider"></li>
        <li>
          <%= link_to main_app.destroy_user_session_path,
            :method => :delete,
            :title  => t('rs_toolbar.account_info.close_link_title') do %>

            <span>Logout</span>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div>