<% dropdown = rs_toolbar_actions %>

<% if dropdown %>
  <li class="dropdown">
    <%= link_to '#', :data => { :toggle => :dropdown }, :class => 'dropdown-toggle' do %>
      <%= t 'rs_toolbar.actions_dropdown' %>&nbsp;<b class="caret"></b>
    <% end %>

    <ul class="dropdown-menu">
      <%= dropdown %>
    </ul>
  </li>
<% end %>