<li class="dropdown">
  <%= link_to '#', :data => { :toggle => :dropdown }, :class => 'dropdown-toggle' do %>
    <%= t 'rs_toolbar.manage_dropdown' %>&nbsp;<b class="caret"></b>
  <% end %>

  <ul class="dropdown-menu">
    <li><a href="#">Menu item</a></li>
  </ul>
</li>