<% if RsToolbar.show_case_proc.call %>
  <div class="navbar navbar-inverse navbar-fixed-top" id="rs-toolbar" data-no-turbolink="true">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        
        <div class="pull-left" id="rocketscience-logo">
          <%= link_to main_app.root_path do %>
            <span><%= t 'rs_toolbar.caption' %></span>
          <% end %>
        </div>

        <div class="nav-collapse">
          <ul class="nav">
            <%= render 'rs_toolbar/manage_dropdown' %>
            <%= render 'rs_toolbar/actions_dropdown' %>
          </ul>
        </div>

        <%= render 'rs_toolbar/account_info' %>
      </div>
    </div>
  </div>
<% end %>
