@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic-ext,cyrillic,latin-ext);

#rs-toolbar {
  margin: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
  z-index: 65535;
  height: 36px;

  .dropdown .caret { margin-top: 10px; }
  .navbar-inner {
    background: #555;
    @include background(linear-gradient(top, #555, #444));
    @include box-shadow(0 0 15px rgba(0, 0, 0, 0.5));
    height: 36px;
    min-height: 36px;

    div#rocketscience-logo {
      margin-right: 30px;

      a {
        display: block;
        width: 103px;
        height: 36px;
        background: asset-url("rs_toolbar/rocketscience.png", image) no-repeat 50% 40%;

        span { display: none; }
      }
    }

    // Navbar button
    .btn-navbar {
      @include background(linear-gradient(top, #555, #444));
      @include box-shadow(#{1px 1px #5E5E5E inset, -1px -1px #474747 inset, 0 1px 0 rgba(125, 125, 125, 0.6)});
    }

    // Dropdown menu
    $menu-lighter-color:  #666;
    $menu-darker-color:   #333;
    $menu-lighter-border: 1px solid $menu-lighter-color;
    $menu-darker-border:  1px solid $menu-darker-color;

    ul {
      border-right: $menu-lighter-border;

      li {
        border-left: $menu-darker-border;
        margin: 0;

        a {
          @include transition(#{color 0.3s ease-out});
          border-left: $menu-lighter-border;
          display: block;
          padding: 8px 20px 8px 20px;
          text-decoration: none;
          color: #aaa;
          font-size: 100%;
          text-shadow: -1px -1px 0px #444;
          font-size: 90%;

          &.dropdown-toggle {
            padding: 8px 15px 8px 15px;
          }

          &:hover, &:focus {
            color: #eee;
            background: #5e5e5e;
            @include background(linear-gradient(top, #5e5e5e, #4e4e4e));
            outline: none;

            b.caret {
              border-bottom-color: #eee;
              border-top-color: #eee;
            }
          }

          b.caret {
            border-bottom-color: #aaa;
            border-top-color: #aaa;
          }

          i.icon {
            height: 12px;
            line-height: 12px;
            margin-right: 3px;
          }
        }

        &:last-child { border-right: $menu-darker-border; }

        // Вдавленная кнопка при открытом меню
        &.open > a {
          padding-top: 10px;
          padding-bottom: 6px;
          border-left: 1px solid #333;
          @include box-shadow(inset 1px 2px 4px 0 #333);
          background: #4e4e4e;
        }

      }

      // Second level of menu
      $menu-width : 220px;

      ul.dropdown-menu {
        background: #444;
        position: absolute;
        top: 43px;
        width: $menu-width;
        border: 0;

        &:after {
          border-bottom-color: #444;
          border-top-color: #444;
        }

        li {
          border: 0;
          width: $menu-width;

          &.divider {
            background: $menu-darker-color !important;
            border-bottom: $menu-lighter-border;
          }

          a {
            border: 0 !important;
            display: block;
            padding: 10px 20px 10px 15px;
            font-size: 100%;

            i.icon {
              margin-right: 7px;
            }

            &:hover, &:active, &:focus, &.current {
              padding: 10px 20px 10px 15px;
              @include background(linear-gradient(top, #5e5e5e, #4e4e4e));
              border-left: 1px solid #777;
            }

            &:active {
              @include box-shadow(none);
              padding: 10px 20px 9px 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 978px) {
  #rs-toolbar {
    height: auto;

    .navbar-inner {
      padding: 0;
      height: auto;
      min-height: auto;

      ul {
        border: 0;

        li {
          border: 0;
          &:last-child { border: 0; }
          a { border: 0; }
        }

        // Second level of menu
        $menu-width : auto;

        ul.dropdown-menu {
          background: none;
          position: static;
          top: auto;
          left: auto;
          width: $menu-width;
          border: 0;

          li {
            width: $menu-width;
          }
        }
      }
    }

    #rocketscience-logo {
      margin-left: 10px;
    }
  }
}
